.imgs{
    width: 60px;
}
body{
    background-color: white;
}


.inlinediv{
    display: inline-block;
}

.tripimgs{
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 25vw;
}

.pfont{
    font-family: 'Dosis', sans-serif;
    font-size: 1.7vw;

}
.btn-dark{
    background-color:rgb(97, 24, 56) !important ;
}
