@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.imgdiv{
height:95vh;
background-image:url('https://www.pro-sky.com/images/en/news/news_header_webseite_-49-_342_full.jpg');
background-size: cover;
background-position: center;
}
html, body {
    margin:0px;
    height:100%;
  }
.picContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    height: 160px;
    width: 50%;
}
.textContainer{
    text-align: center;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.text{
    font-family: 'Roboto Mono', monospace;
}
#profile{
    background-color: rgba(255, 255, 255, 0.603);
    height:95vh;
    padding-top: 10%;
    flex: 25%;
    padding: 20px;
}

#row{
    display: flex;
    flex-wrap: wrap;
}



/* .imgs{
    width: 60px;
}
body{
    background-color: white;
}


.inlinediv{
    display: inline-block;
}

.tripimgs{
    object-fit: cover;
  object-position: 100% 0;
  width: 100%;
  height: 230px;
}

.pfont{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;

}
.img1 {
    border-radius: 50%;
   

  }
  .all{

    background-image: url("https://sirolad.com.ng/images/pattern.svg");
    margin-right: 200px;
  }
  .hole{
      background-color: gray;
      background-image: url("https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg");
  } */

  