.imgdivpay{
    height:95vh;
    background-image:url('https://i.imgur.com/5lVo3GI.jpg') !important;
    background-size: cover;
    background-position: center;
}

html, body {
    margin:0px;
    height:100%;
}

#payment{
    background-color: rgba(255, 255, 255, 0.603);
    height:95vh;
    padding-top: 10%;
}

form{
    margin-left: 10%;
    margin-right: 10%;
}